
<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/vendors/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />

	<script src="../../static/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="../../static//vendors/jquery-ui/jquery-ui.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right">
					Reset
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle" id="gradient-circle"></div>
				</div>
			</div>
		</div>
			
	</div>


<script type="text/javascript">
	// click on purple -> pop all purple
	$(".p2-circle.bg-purple").click(function(){
		$( ".p2-circle.bg-purple" ).hide();
	})

	//click on green -> pop all green AND pop all blue 
	$(".p2-circle.bg-green").click(function(){
        $( ".p2-circle.bg-green" ).hide();
		$(".p2-circle.bg-blue").hide();
	})

	//click on orange w/ border -> pop all bubbles that are orange w/ border
	$(".p2-circle.bg-orange.p2-border").click(function(){
		$(".p2-circle.bg-orange.p2-border").hide();
	})

	//hover on gradient -> hide gradient
	$("#gradient-circle").hover(function(){
		$( this).hide();
	})

	//reset button
	$(".btn").click(function(){
		$( ".p2-circle" ).show();
	})





</script>
</body>
</html>